@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap');

:root {
    --Green-200-lighter: hsl(148, 38%, 91%);
    --Green-600-medium: hsl(169, 82%, 27%);
    --Red: hsl(0, 66%, 54%);
    --White: hsl(0, 0%, 100%);
    --Grey-500-medium: hsl(186, 15%, 59%);
    --Grey-900-darker: hsl(140, 24%, 22%);
}

* {
    margin: 0;
    padding: 0;
    border: 0;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
    -webkit-font-smoothing: antialiased;
}

body, h1, h2, h3, h4, p,
figure, blockquote, dl, dd {
    margin-block-end: 0;
}

ul[role='list'],
ol[role='list'] {
    list-style: none;
}

body {
    min-height: 100vh;
    line-height: 1.5;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--Green-200-lighter);
}

h1, h2, h3, h4,
button, input, label {
    line-height: 1.1;
}

h1, h2,
h3, h4 {
    text-wrap: balance;
}

a:not([class]) {
    text-decoration-skip-ink: auto;
    color: currentColor;
}

img,
picture {
    max-width: 100%;
    display: block;
}

input, button,
textarea, select {
    font-family: inherit;
    font-size: inherit;
}

textarea:not([rows]) {
    min-height: 10em;
}

:target {
    scroll-margin-block: 5ex;
}

main {
    max-width: 40rem;
    background-color: var(--White);
    padding: 1rem;
    border-radius: 1rem;
}

main > * {
    margin: 1rem;
}

input, textarea {
    width: 100%;
    padding: 0.7rem;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    border: 1px solid var(--Grey-500-medium);
    border-radius: 0.3rem;

    &:hover {
        cursor: pointer;
    }

    &:focus {
        outline: var(--Green-600-medium) solid 1px;
    }
}

.query-type {
    display: flex;
    gap: 1rem;
    align-items: center;
    border: var(--Grey-500-medium) solid 1px;
    margin: 0.8rem 0;
    padding: 0.7rem;
    border-radius: 0.3rem;
}

.query-type > input {
    width: 1rem;
    margin: 0;
    padding: 0;

    &:focus {
        outline: 0;
    }
}

.consent-div {
    display: flex;
    gap: 1rem;
    align-items: center;
    padding: 0.7rem;
    border-radius: 0.3rem;
}

.consent-div > input {
    width: 1rem;
    margin: 0;
    padding: 0;

    &:focus {
        outline: 0;
    }
}

.submit {
    background-color: var(--Green-600-medium);
    color: var(--White);
    border: none;
    font-weight: 500;

    &:hover {
        background-color: hsl(169, 86%, 14%);
    }
}

.pop-up {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 0.5rem;
    background-color: hsl(169, 96%, 10%);
    color: var(--Green-200-lighter);
    padding: 0.8rem;
    border-radius: 1rem;
    max-width: 27rem;
    height: auto;
}

.pop-up p:nth-child(2) {
    font-size: 0.9rem;
    font-weight: 700;
}

.pop-up p:nth-child(3) {
    font-size: 0.8rem;
    font-weight: 200;
}

@media (min-width: 430px) {
    main {
        width: 55rem;
    }

    .query-container {
        display: flex;
    }

    .name-container {
        display: flex;
    }
}